html, body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #F7D9E3;
  }
  .menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #833177;
    transition: left 0.3s;
}

.menu a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #c2152c;
}

.menu-icon {
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.header {
    background-color: #c2152c;
    color: white;
    padding: 25px;
    text-align: center;
    width: 100%;
    margin: 0;
    margin-top: 0;
}
.content {
    margin: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


p {
    margin: 0 0 20px;
}

h2 {
    color: #c2152c;
}
.respuesta {
   
    font-family: Arial, sans-serif;
  
    font-size: 16px; 
    line-height: 1.5; 
    
  }
  .preguntaa {
    margin-bottom: 20px;
    cursor: pointer;

    
      margin: 20px;
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

 
  p {
      margin: 0 0 20px;
  }

  h2 {
      color: #c2152c;
  }



.respuestaa {
  display: none;
  transition: display 0.5s;
  font-family: Arial, sans-serif;

  font-size: 16px; 
  line-height: 1.5; 
}